header#masterheader {
    position: relative;
    padding-top: 12rem;
    padding-bottom: calc(10rem - 56px);
    //background-image: url('assets/images/header-bg.jpg');
    background-position: center center;
    text-align: left;
    color: $color_white;
    @include background-cover;
    z-index: 2;
    &:after {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(14, 14, 14, 0.729);
        z-index: -1;
    }
    .main-content {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        h6.welcome {
            font-weight: 600;
            color: $color_red;
            line-height: 0.1rem;
            margin-bottom: -5px;
            text-transform: uppercase;
            letter-spacing: 1.2px;
        }
        h1.hero-title {
            display: block;
            text-transform: uppercase;
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: 1.1rem;
        }
        p.lead-text {
            font-size: 1.1em;
            padding-right: 10px;
        }
        .input-group {
            max-width: 400px;
            input.subscribe-input {
                box-shadow: none;
                border: 0;
                border-top-left-radius: 27px; // border-top-right-radius: 27px;
                border-bottom-left-radius: 27px; // border-bottom-right-radius: 27px;
                height: 45px;
                padding-left: 1.42857rem !important;
                padding-right: 1.42857rem !important;
                color: $color_red;
                outline: none;
                &::-webkit-input-placeholder {
                    color: $color_red;
                }
            }
            button {
                border-top-right-radius: 27px;
                border-bottom-right-radius: 27px;
                border: 0 !important;
                background-color: $color_red;
                color: $color_white; // padding: 10px 15px;
                padding-left: 1.42857rem !important;
                padding-right: 1.42857rem !important;
                height: 46px;
                font-size: .9rem;
                font-weight: 100;
                outline: none;
                margin-left: 1px;
                box-shadow: none !important;
                cursor: pointer;
                &:hover,
                &:focus {
                    background-color: $color_light_red;
                }
            }
        }
    }
    @media(min-width: 768px) {}
    @media(min-width: 992px) {
        text-align: center;
        height: 60vh;
        min-height: 650px;
        padding-top: 15rem;
        .main-content {
            padding: 0;
            margin: 0;
            .content-inner {
                p.lead-text {
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-left: 100px;
                    margin-right: 100px;
                }
                .input-group {
                    position: relative;
                    margin: 0 auto;
                }
            }
            h1.hero-title{
                font-size: 5em;
            }
        }
    }
}