#portfolio-page{
  background-color: $color_dark_blue_bg;
  padding-top: 120px;
  .portfolio-single{
    transition: 0.4s ease;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    img{
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
      width: 100%;
      height: 100%;

    }
    .portfolio-overlay{
      position: absolute;
      right: 7px;
      bottom: 32px;
      background-color: $color_white;
      width: 100%;
      height: 100%;
      padding-bottom: 10px;
      opacity: 0;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 12px;
      h5{
        position: absolute;
        bottom: 70px;
        left: 20px;
        color: $color__text-main;
      }
      p{
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: $color_main-red;
        font-weight: normal;

      }
    }
  }

  @media(min-width: 992px){
    .project-section-title{
      margin-bottom: 40px;
    }
    .portfolio-overlay:hover{
      opacity: 1;
    }
  }

}

@media(min-width: 992px){
  .cta-projects{
    .cta-button{
      .cta-btn-project:hover{
        color: $color_white;
      }
    }
  }
}




