.cta-services{
  background-color: $color_dark_blue_bg;
  .cta-text{
    p{
      padding: 0 10px;
      color: $color_white;
    }
  }
  .cta-button{
    .cta-btn{
      color: $color_main-red;
      border-width: 3px;
      &:hover{
        color: $color_white;
      }
    }
  }





}




