#aboutMe {
    background-color: $about-bg;
    .header-inner {
        margin-top: 20px;
        .subTitle {
            display: block;
            color: darken($very-light-gray, $amount: 10);
            text-transform: uppercase;
            font-size: 1em;
        }
        h3.about-title {
            text-transform: capitalize;
            font-weight: 400;
        }
        p {
            text-rendering: optimizeLegibility;
            padding-right: 0px;
            line-height: 1.5rem;
        }

      .skills{
        position: relative;
        margin-bottom: 20px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        .skill-section{
         padding-bottom: 17px;
        }
        .skill-name{
          position: relative;
          span.skillsets{
            position: relative;
            font-size: .8rem;
            display: inline-block;
            margin-bottom: 0px;
            text-transform: uppercase;
            font-weight: normal;
            padding-left: 5px;
            padding-bottom: 5px;
          }
        }
        .progress{
          position: relative;
          height: 12px;
          background-color: black;


          .progress-bar{
            width: 100%;


            &.bg-danger{
              background-color: $color_red !important;
            }
          }

        }
      }
    }
    .image-container {
        img {
            width: 100%;
            height: auto;
            padding-bottom: 10px;
        }
        span {
            text-transform: uppercase;
            display: inline-block;
            margin-right: 10px;
            a {
                text-rendering: optimizeLegibility;
                color: $color_red;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    color: $color_light_red;
                    font-weight: 600;
                }
            }
        }
    }

    @media(min-width: 768px){
        .about-content-area{
            margin-top: 20px;
        }
    }
}