.work {
  background-color: $color_services_bg;
}

.work .item {
  padding: 1px;
  margin: 0;
}

.work figure.effect-ruby img {
  height: auto;
  width: 100%;
}

.work .grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  height: auto;
  text-align: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.work .grid figure:hover {
  background: #000;
}

.work figure.effect-ruby h5 {
  margin-top: 20%;
  text-align: center;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  text-transform: capitalize;
  font-weight: 600;
  -webkit-transition: .3s;
  transition: .3s;
  display: inline-block;
  color: $color_red;
}

.work figure.effect-ruby p {
  font-size: 16px;
  text-transform: capitalize;
  border: none;
  padding: 0;
  margin: 5px 0px;
  color: #fff;
}

.work figure.effect-ruby p strong {
  font-size: 16px;
  text-transform: uppercase;
  margin-right: 5px;
}

.work .item:hover figure.effect-ruby h5 {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transition: .3s;
  transition: .3s;
}
