#mainNav {
    background-color: $nav_color_bg;
    .navbar-brand {
        position: relative;
        padding: 0;
        margin: 0;
        img {
            position: relative;
            width: 200px;
			height: auto;
			padding-bottom: 10px;
        }
    }
    .navbar-toggler {
        position: relative !important;
        border: 0;
        &:hover,
        &:focus {
            text-decoration: none;
            border: none;
        }
        .hamburger {
            position: relative;
            padding: 0;
            .hamburger-box {
                width: 37px;
                height: 25px;
                margin-top: 10px;
                span.hamburger-inner,
                span.hamburger-inner::before,
                span.hamburger-inner::after {
                    background-color: $color_red;
                    height: 2px;
                    width: 100%;
                    border-radius: 0;
                    box-shadow: 0;
                }
            }
        }
    }

}

@media(min-width: 992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
		border: none;
		background-color: transparent;
        .navbar-brand {
            img {
                width: 220px;
                height: auto;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
            }
        }
        &.navbar-shrink {
            padding-top: 0;
            padding-bottom: 0;
            background-color: $nav_color_bg !important;
            .navbar-brand {
                padding: 12px 0;
            }
        }
    }
}